In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Extract

## Store CSV Into DataFrame & Merge Data

In [2]:
happy_file = "Resources/Happy_2016.csv"
happy_df = pd.read_csv(happy_file, encoding="ISO-8859-1")
happy_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [3]:
alcohol_file = "Resources/Alcohol_2016.csv"
alcohol_df = pd.read_csv(alcohol_file, encoding="ISO-8859-1")
alcohol_df.head()

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,France,Western Europe,north,6.478,899,36.870,127,151,370
1,Portugal,Western Europe,north,5.123,845,19.872,194,67,339
2,Switzerland,Western Europe,north,7.509,943,79.866,185,100,280
3,Denmark,Western Europe,north,7.526,928,53.579,224,81,278
4,Slovenia,Central and Eastern Europe,north,5.768,894,21.650,270,51,276

In [4]:
happy_df.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Lower Confidence Interval        float64
Upper Confidence Interval        float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [5]:
alcohol_df.dtypes

Country              object
Region               object
Hemisphere           object
HappinessScore      float64
HDI                   int64
GDP_PerCapita       float64
Beer_PerCapita        int64
Spirit_PerCapita      int64
Wine_PerCapita        int64
dtype: object

In [6]:
happy_df["Country"].count

<bound method Series.count of 0          Denmark
1      Switzerland
2          Iceland
3           Norway
4          Finland
          ...
152          Benin
153    Afghanistan
154           Togo
155          Syria
156        Burundi
Name: Country, Length: 157, dtype: object>

In [7]:
alcohol_df["Country"].count

<bound method Series.count of 0           France
1         Portugal
2      Switzerland
3          Denmark
4         Slovenia
          ...
117        Comoros
118        Vietnam
119          Niger
120           Chad
121           Mali
Name: Country, Length: 122, dtype: object>

In [8]:
merge_df = pd.merge(happy_df, alcohol_df, on="Country")
merge_df

,Country,Region_x,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,...,Generosity,Dystopia Residual,Region_y,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,...,0.36171,2.73939,Western Europe,north,7.526,928,53.579,224,81,278
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,...,0.28083,2.69463,Western Europe,north,7.509,943,79.866,185,100,280
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,...,0.47678,2.83137,Western Europe,north,7.501,933,60.530,233,61,78
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,...,0.37895,2.66465,Western Europe,north,7.498,951,70.890,169,71,129
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,...,0.25492,2.82596,Western Europe,north,7.413,918,43.433,263,133,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Tanzania,Sub-Saharan Africa,149,3.666,3.561,3.771,0.47155,0.77623,0.35700,0.31760,...,0.31472,1.37769,Sub-Saharan Africa,south,3.666,533,878.000,36,6,1
118,Liberia,Sub-Saharan Africa,150,3.622,3.463,3.781,0.10706,0.50353,0.23165,0.25748,...,0.24063,2.23284,Sub-Saharan Africa,north,3.622,432,455.000,19,152,2
119,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,...,0.20180,2.10812,Sub-Saharan Africa,north,3.484,512,789.000,34,4,13
120,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,...,0.17517,2.13540,Sub-Saharan Africa,north,3.303,500,577.000,36,2,19
121,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,...,0.48397,0.81789,Middle East and Northern Africa,north,3.069,536,2.058,5,35,16

# Transform

In [9]:
columns_wanted= ["Country","Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Family", "Health (Life Expectancy)", "Freedom", "GDP_PerCapita", "Beer_PerCapita", "Spirit_PerCapita", "Wine_PerCapita"]

In [10]:
happy_transformed = merge_df[columns_wanted].copy()
happy_transformed.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,53.579,224,81,278
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,79.866,185,100,280
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,60.530,233,61,78
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,70.890,169,71,129
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,43.433,263,133,97

In [11]:
happy_transformed = happy_transformed.rename(columns = {"Happiness Rank": "happiness_rank",
                                                        "Economy (GDP per Capita)": "economy",
                                                       "Health (Life Expectancy)":"health",
                                                       "Happiness Score": "happiness_score"
                                                       })

happy_transformed.set_index("Country", inplace = True)

happy_transformed.head()

,happiness_rank,happiness_score,economy,Family,health,Freedom,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
Country,,,,,,,,,,
Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,53.579,224,81,278
Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,79.866,185,100,280
Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,60.530,233,61,78
Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,70.890,169,71,129
Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,43.433,263,133,97

In [12]:
connection_string = "postgres:Simb@#2013@localhost:5432/happy_alcohol_db"
engine = create_engine(f'postgresql://{connection_string}')

In [13]:
engine.table_names()

['happy']

In [14]:
happy_transformed.to_sql(name='happy', con=engine, if_exists='append', index=True)